/* Change color mode (Dafault colors) */

:root{

    --backgroundColor: white;
    --mainColor: #ededed;
    --whiteColor: #fff;
    --fontColor: black;
    --backgroundFontColor: #b2bec3;
    --navbarTogglerColor: default;
    --lowPriority: #198754;
    --midPriority: #ffc107;
    --highPriority: #dc3545;

}

.dark-theme{

    --backgroundColor: #383838;
    --mainColor: #272727;
    --whiteColor: #000;
    --fontColor: white;
    --backgroundFontColor: #b2bec3;
    --navbarTogglerColor: white;

}  

/* All on center side */

.vertical-center {
    min-height: 90%;
    min-height: 90vh; 
    display: flex;
    align-items: center;
}

/* Waves */

.custom-shape-divider-top-1704668404 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704668404 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1704668404 .shape-fill {
    fill: var(--mainColor);
}

.custom-shape-divider-bottom-1704670510 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704670510 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.custom-shape-divider-bottom-1704670510 .shape-fill {
    fill: var(--mainColor);
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    flex-shrink: 0;
}

/* Scrollbar */

body::-webkit-scrollbar {
    background-color: var(--whiteColor);
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: var(--whiteColor);
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid var(--whiteColor);
}

body::-webkit-scrollbar-button {
    display:none;
}

/* Website style (dark/light mode) */

body{
    background-color: var(--backgroundColor);
}

/* Navbar START */

.navbar{
    background-color: var(--mainColor);
}

.navbar-toggler{
    background-color: var(--navbarTogglerColor);
}

.navbar-brand{
    align-items: center;
    display: flex;  
    font-weight: 700;
}

.navbar-brand a{
    text-decoration: none;
}

.nav-item{
    font-size: 125%;
}

.nav-link{
    text-align: center;
}

.sub-menu:hover .language-menu{
    display: block;
    align-items: center;
}

.dropdown-menu{
    background-color: var(--mainColor);
}

.languages .dropdown-menu .dropdown-item.active,
.languages .dropdown-menu .dropdown-item:active {
    color: #FF0000 !important;
    background-color: transparent !important;
}

.dropdown-item:hover{
    filter: none!important;
}

.form-switch .form-check-input:focus{
    border-color: #ff000080;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff000080;
}

.collapse ul li i{
    font-weight: bold;
}

.collapse ul li a{
    font-weight: 500;
    transition: all 0.2s ease;
    border-radius: 9px; 
    color: var(--fontColor);
}

.collapse ul li a:hover{
    background-color: var(--mainColor);
    color: #FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

.glow-hub:hover{
    color:#FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

.img-flag{
    margin-top: -2%;
}

.form-switch input[type='checkbox']:checked{
    background-color: black;
    border-color: black;
}

.form-switch .form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
}

.dark-mode-type:checked{
    border-color: black;
    box-shadow: inset 0 0 0 0 black, 0 0 4px black;
}

#logo_name{
    color: var(--fontColor);
}

/* Navbar END */

/* Input text place */

.new-task .form-floating>.form-control:focus~label{
    left: 11px;
}

.new-task .form-floating>.form-control:not(:focus)~label{
    left: 10px;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

#floating-task{
    border-radius: 24px;
}

/* Importance of duty option */

.importance{
    display: flex;
    text-align: center;
    justify-content: center;
}

.importance-section{
    display: none;
}

.importance-button{
    display: flex;
    align-items: center;
    padding-left: 0;
}

#imp{
    padding: 0;
}

#imp:hover{
    color: #FF0000;
}

.dots{
    font-size: 30px;
    color:var(--fontColor);
}

/* Radio buttons & submit button */

.radio-low input[type='radio']:checked{
    background-color: #198754;
    border-color: #198754;
    box-shadow: inset 0 0 0 0 #198754, 0 0 4px #198754;
}

.radio-low .form-check-input:focus{
    border-color: #198754;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #198754;
}

.radio-low .form-check-input:active{
    border-color: #198754;
}

.radio-mid input[type='radio']:checked{
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: inset 0 0 0 0 #ffc107, 0 0 4px #ffc107;
}

.radio-mid .form-check-input:focus{
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffc107;
}

.radio-mid .form-check-input:active{
    border-color: #ffc107;
}

.radio-high input[type='radio']:checked{
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: inset 0 0 0 0 #dc3545, 0 0 4px #dc3545;
}

.radio-high .form-check-input:focus{
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #dc3545;
}

.radio-high .form-check-input:active{
    border-color: #dc3545;
}

input[type="radio"]{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.form-check #flexRadioDefault1, .form-check #flexRadioDefault2, .form-check #flexRadioDefault3{
    margin-left: -15px;
}

.btn-dark{
    border-radius: 24px;
}

button.btn.border-0{
    padding-left: 0;
}

/* Headers and others*/

h1{
    font-weight: 700;
    text-align: center;
    color:var(--fontColor);
}

h2{
    text-align: center;
    position: relative;
    color:var(--fontColor);
}

h4{
    color:var(--fontColor);
}

h6{
    color:var(--fontColor);
}

p{
    margin-bottom: 0;
}

/* Duties list */

.new-task{
    position: relative;
}

.duty-header{
    font-weight: 600;
    font-size: 50px;
}   

.duty .form-check{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.accept{
    background-color: #ff0000bf;
    margin-bottom: 0;
    border-radius: 22px 0 0 22px;
}

.accept .form-check .form-check-input{
    margin-left: 0em;
}

.duty .form-check-input{
    width: 20px;
    height: 20px;
    margin-top: -2.5px;
}

.duty-text{
    font-weight: 500;
    display: flex;
    align-items: center;
}

.duties-list{
    position: relative;
}

.edit{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.duty-icon{
    color: black;
}

.delete{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.duty i{
    font-size: 22.5px;
}

.duty-icon:hover{
    color: #FF0000;
}

ul{
    list-style-type: none;
    border-radius: 12.5px;
}

.duty{
    border-radius: 24px;
    background-color: white;
    text-decoration: none;
    height: 75px;
    border: solid 2px var(--mainColor);
}

.duties-list input[type='checkbox']:checked{
    background-color: green;
    border-color: green;
}

.duties-list .form-check-input:checked{
    border-color: green;
    box-shadow: inset 0 0 0 0 green, 0 0 4px green;
}

.duties-list .form-check-input:focus{
    border-color: rgba(0, 128, 0, 0.5);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.5);
}

.date{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 0;
}

.duty-date{
    color: #b2bec3;
    padding-left: 24px;
}

.date-icon{
    display: flex;
    align-items: end;
    justify-content: center;
}

.all-date{
    display: flex;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.filter{
    position: relative;
}

#filter-button0, #filter-button1, #filter-button3, #filter-button4{
    display: none;
    position: relative;
    align-items: center;
    font-size: 20px;
    color:var(--fontColor);
    padding-top: 0;
    padding-bottom: 0;
}

#filter-button2{
    display: flex;
    position: relative;
    align-items: center;
    font-size: 30px;
    color:var(--fontColor);
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bolder;
}

#filter-button0:hover, #filter-button1:hover, #filter-button2:hover ,#filter-button3:hover, #filter-button4:hover{
    color: #FF0000;
}

/* Back button - changeDuty.php */

.back-duties-text{
    text-decoration: none;
    color: var(--fontColor);
    font-weight: 700;
}

/* Empty place */

.empty-text{
    color: #b2bec3;
    display: flex;
    justify-content: center;
}

/* Media queries */

@media (min-width: 992px){

    .language-menu{
        margin-top: -5.5%;
        justify-content: center;
        width: 160px;
        height: 87.33px;
    }

}

@media (max-width: 991px){

    .sub-menu:hover .language-menu{
        display: flex;
    }

    .language-menu{
        padding-top: 0px;
        padding-bottom: 0px;
        height: 38px;
    }
    
    .sub-menu{
        height: 38px;
    }

    .dropdown-menu{
        margin: auto;
    }

}

@media (min-width: 768px){
    
    .navbar-right{
        float: right !important;
        margin-right: -10px;
    }

}

@media (max-width: 768px){
    
    .form-check{
        padding-left: 6px;
        padding-right: 0;
    }
    
} 