.vertical-center {
    min-height: 90%;
    min-height: 90vh; 
    display: flex;
    align-items: center;
}

.custom-shape-divider-top-1704668404 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704668404 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1704668404 .shape-fill {
    fill: var(--mainColor);
}

.custom-shape-divider-bottom-1704670510 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704670510 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.custom-shape-divider-bottom-1704670510 .shape-fill {
    fill: var(--mainColor);
}

body::-webkit-scrollbar {
    background-color: var(--whiteColor);
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: var(--whiteColor);
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid var(--whiteColor);
}

body::-webkit-scrollbar-button {
    display:none;
}

body{
    background-color: var(--backgroundColor);
}

.navbar{
    background-color: var(--mainColor);
}

.navbar-brand{
    align-items: center;
    display: flex;  
    font-weight: 700;
}

.nav-item{
    font-size: 125%;
}

.nav-link{
    text-align: center;
}

.collapse ul li i{
    font-weight: bold;
}

.collapse ul li a{
    font-weight: 500;
    transition: all 0.2s ease;
    border-radius: 9px; 
    color: var(--fontColor);
}

.navbar-brand a{
    text-decoration: none;
}

.collapse ul li a:hover{
    background-color: var(--mainColor);
    color: #FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

.glow-hub:hover{
    color:#FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

h1{
    font-weight: 700;
    text-align: center;
    color:var(--fontColor);
}

h2{
    text-align: center;
    position: relative;
    color:var(--fontColor);
}

.new-task{
    position: relative;
}

.duty .form-check{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.accept .form-check .form-check-input{
    margin-left: 0em;
}

.duty .form-check-input{
    width: 20px;
    height: 20px;
}

.duty-text{
    font-weight: 500;
    display: flex;
    align-items: center;
}

.duties-list{
    position: relative;
}

.edit{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.duty-icon{
    color: black;
}

.delete{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.duty i{
    font-size: 22.5px;
}

.duty i:hover{
    color: #FF0000;
}

ul{
    list-style-type: none;
    border-radius: 12.5px;
}

.duty{
    border-radius: 24px;
    background-color: white;
    text-decoration: none;
    height: 75px;
    border: solid 2px var(--mainColor);
}


.duty-header{
    font-weight: 600;
    font-size: 50px;
}   

#floating-task{
    border-radius: 24px;
}

.empty-text{
    color: #b2bec3;
    display: flex;
    justify-content: center;
}

.btn-dark{
    border-radius: 24px;
}

input[type='checkbox']:checked{
    background-color: green;
    border-color: green;
}


.form-switch input[type='checkbox']:checked{
    background-color: black;
    border-color: black;
}

.form-switch .form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
}

.dark-mode-type:checked{
    border-color: black;
    box-shadow: inset 0 0 0 0 black, 0 0 4px black;
}

 .form-check-input:checked{
    border-color: green;
    box-shadow: inset 0 0 0 0 green, 0 0 4px green;
}

.form-check-input:focus{
    border-color: rgba(0, 128, 0, 0.5);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.5);
}

.back-duties-text{
    text-decoration: none;
    color: var(--fontColor);
    font-weight: 700;
}

.dropdown-menu{
    background-color: var(--mainColor);
}

.form-switch .form-check-input:focus{
    border-color: #ff000080;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff000080;
}


.sub-menu:hover .language-menu{
    display: block;
    align-items: center;
}

.img-flag{
    margin-top: -2%;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    flex-shrink: 0;
}

@media (min-width: 992px){

    .language-menu{
        margin-top: -5.5%;
        justify-content: center;
        width: 160px;
        height: 87.33px;
    }

}

@media (max-width: 991px){

    .sub-menu:hover .language-menu{
        display: flex;
    }

    .language-menu{
        padding-top: 0px;
        padding-bottom: 0px;
        height: 38px;
    }
    
    .sub-menu{
        height: 38px;
    }

    .dropdown-menu{
        margin: auto;
    }

}

@media (min-width: 768px){
    
    .navbar-right{
        float: right !important;
        margin-right: -10px;
    }

}

@media (max-width: 768px){
    
    .form-check{
        padding-left: 6px;
        padding-right: 0;
    }
    
}

/* Change color mode */

:root{

    --backgroundColor: white;
    --mainColor: #ededed;
    --whiteColor: #fff;
    --fontColor: black;
    --backgroundFontColor: #b2bec3;

}

.dark-theme{
    --backgroundColor: #383838;
    --mainColor: #272727;
    --whiteColor: #000;
    --fontColor: white;
    --backgroundFontColor: #b2bec3;
}   

#logo_name{
    color: var(--fontColor);
}