body{
    background-color: #f8f9fa;
}

.navbar{
    background-color: #ededed;
}

.navbar-brand{
    align-items: center;
    display: flex;  
    font-weight: 700;
}

.nav-item{
    font-size: 125%;
}

.collapse ul li i{
    font-weight: bold;
}

/* .collapse ul li i:hover{
    filter: drop-shadow(0 0 20px #FF0000);
} */

.collapse ul li a{
    font-weight: 500;
    transition: all 0.2s ease;
    border-radius: 9px; 
    color: black;
}

.navbar-brand a{
    text-decoration: none;
}

.collapse ul li a:hover{
    background-color: #ededed;
    color: #FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

.glow-hub:hover{
    color:#FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

h1{
    font-weight: 700;
    text-align: center;
}

h2{
    text-align: center;
}


.form-check{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.form-check .form-check-input{
    margin-left: 0em;
}

.form-check-input{
    width: 20px;
    height: 20px;
}

.duty-text{
    font-weight: 500;
    display: flex;
    align-items: center;
}

.edit{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.delete{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.duty i{
    font-size: 20px;
}

ul{
    list-style-type: none;
    border-radius: 12.5px;
}

.duty{
    border-radius: 12.5px;
    background-color: white;
    text-decoration: none;
    height: 50px;
}

input[type='checkbox']:checked{
    background-color: black;
    border-color: black;
}

.form-check-input:focus{
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

@media (min-width: 768px){
    
    .navbar-right{
        float: right !important;
        margin-right: -10px;
    }

}

@media (max-width: 768px){
    
    .form-check{
        padding-left: 6px;
        padding-right: 0;
    }
    
}