/* All on center side */

.vertical-center {
    min-height: 92%;
    min-height: 92vh; 
    display: flex;
    align-items: center;
}

/* Left side */

.left-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
}

/* Headers */

h2{
    text-align: center;
    position: relative;
    color:var(--fontColor2);
}

/* Right side */

.contact-us{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--fontColor);
    font-size: 25px;
    text-align: center;
}

.contact-size{
    height: 50px;
}

.contact-us:hover{
    color: #FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
    font-size: 30px;
    transition: 0.25s;
    display: flex;
}

.right-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
}

@media (max-width: 991px){

    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

} 