.navbar-brand{
    align-items: center;
    display: flex;  
    font-weight: 700;  
}

.nav-item{
    font-size: 125%;
}

.collapse ul li i{
    font-weight: bold;
}

/* .collapse ul li i:hover{
    filter: drop-shadow(0 0 20px #FF0000);
} */

.collapse ul li a{
    font-weight: 500;
    transition: all 0.2s ease;
    border-radius: 9px; 
    color: black;
}

.navbar-brand a{
    text-decoration: none;
}

.collapse ul li a:hover{
    background-color: #ededed;
    color: #FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

#settings{
    color: #FF0000;
}

.glow-hub:hover{
    color:#FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}

@media (min-width: 768px){
    
    .navbar-right{
        float: right !important;
        margin-right: -10px;
    }

}