body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
    display:none;
}

body{
    overflow: hidden;
    /* background: linear-gradient(
        to left,
        white 0%,
        white 50%,
        #ededed 50%,
        #ededed 0%
    ); */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: row;
}

.left{
    height: 100vh;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;   
}

h2{
    text-align: center;
    font-weight: 700;
}

.forgot-password-text{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.sign-up-text{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

input[type='checkbox']:checked{
    background-color: black;
    border-color: black;
}

.form-check-input:focus{
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.bi-eye-fill{
    position: absolute;
    top: 20%;
    right: 3%;
    font-size: 150%;
    color: black;
}

@media all and (max-width: 768px){
    
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .left{
        height: 25%;
    }

    .logo{
        width: 50%;
    }

    .sign-in-form{
        max-height: 50vh;
        display: block;
        margin-top: 5%;
    }

}

.glow-hub:hover{
    color:#FF0000;
    filter: drop-shadow(0 0 1px #FF0000);
}