.calendar-place{
    position: relative;
}

.calendar{
    background-color: rgba(56, 56, 56, 0.25);
    border-radius: 24px;
}

.month{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.week{  
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    font-size: 20px;
    font-weight: 600;
}

.week div{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.days{
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 7.5px;
    font-size: 20px;
    font-weight: 500;
}

.day{
    color: black;
}

div.day{
    height: 10px;
}

.day:hover{
    font-size: 25px;
}

.prev-date{
    color: #9e9e9e;
}

.prev-date:hover{
    color: black;
}

.next-date{
    color: #9e9e9e;
}

.next-date:hover{
    color: black;
}

.today{
    font-size: 30px;
    border: solid rgba(255, 0, 0, 0.75) 2px;
    border-radius: 24px;
    background-color: rgba(70, 70, 70, 0.25);
    color: rgba(255, 0, 0, 0.75);
}

.days div{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.days div:hover{
    background-color: rgba(70, 70, 70, 0.25);
    border-radius: 24px;
}

.today:hover{
    background-color: rgba(70, 70, 70, 0) !important;
    font-size: 30px;
}

.prev:hover{
    color: rgba(255, 0, 0, 0.75);
    border-color: rgba(70, 70, 70, 0.25);
}

.next:hover{
    color: rgba(255, 0, 0, 0.75);
    border-color: rgba(70, 70, 70, 0.25);
}