/* Change color mode (Dafault colors) */

:root{

    --backgroundColor: white;
    --backgroundTheme: #38383840;
    --mainColor: #ededed;
    --whiteColor: #fff;
    --fontColor: black;
    --backgroundFontColor: #b2bec3;
    --navbarTogglerColor: default;
    --lowPriority: #198754;
    --midPriority: #ffc107;
    --highPriority: #dc3545;
    --geoIcon: #545454;
    --temperatureNight: #70757a;;

}

.dark-theme{

    --backgroundColor: #383838;
    --backgroundTheme: #c7c7c740;
    --mainColor: #272727;
    --whiteColor: #000;
    --fontColor: white;
    --backgroundFontColor: #b2bec3;
    --navbarTogglerColor: white;
    --geoIcon: #c9c9c9;
    --temperatureNight: #cac3bc;

}  

/* Body */

#footer{
    position: fixed;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Weather */

.weather-place{
    position: relative;
}

.weather{
    background-color: var(--backgroundTheme);
    border-radius: 24px;
    height: 662.5px;
}

.weather-section{
    display: none;
}

.information{
    min-height: 321px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.error{
    min-height: 321px;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.city-place{
    display: flex;
    align-items: center;
    justify-content: center;
}

.date{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--fontColor);
}

.bi-geo-alt-fill{
    font-size: 20px;
    color: var(--geoIcon);
    margin-top: 2.5px;
}

.temperature{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    width: 154px;
}

#floating-weather{
    border-radius: 24px 0 0 24px;
    border-right: none;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn-light{
    border-radius: 0 24px 24px 0;
    height: 58px;
    border: #dee2e6 solid 1px;
    padding: 0;
}

.weather-icon{
    width: 154px;
    height: 154px;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: var(--fontColor);
    font-weight: 700;
}

h3{
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    font-weight: 700;
}

h4{
    color: var(--fontColor);
}

.search-show-hide{
    display: flex;
    text-align: center;
}

.menu-icon{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left: 0;
}

.hourly{
    margin-left: 24px;
    margin-right: 24px;
}

.hourly-weather-section{
    background-color: rgba(176, 176, 176, 0.75);
    border-radius: 12px;
    width: 75px;
    margin-left: 13px;
}

p{
    margin: 0;
}

.hourly-time{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time{
    font-weight: 400;
    color: var(--fontColor);
}

.hourly-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-weather-icon{
    width: 50px;
    height: 50px;
}

.hourly-temperature{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: var(--fontColor);
}

.daily{
    margin-left: 24px;
    margin-right: 24px;
}

.daily-weather-section{
    background-color: rgba(176, 176, 176, 0.75);
    border-radius: 12px;
    width: 75px;
    margin-left: 13px;
}

.daily-time{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time{
    font-weight: 400;
}

.daily-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily-weather-icon{
    width: 50px;
    height: 50px;
}

.daily-temperature{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: var(--fontColor);
}

.daily-temperature-day{
    padding-right: 1px;
}

.daily-temperature-night{
    padding-left: 1px;
    color: var(--temperatureNight);
}

.hourly, .daily {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.daily-weather-section {
    display: inline-block;
    vertical-align: top;

}

@media all and (max-width: 892.5px){

    .hourly{
        display: flex;
        justify-content: start!important;
        margin-left: 12px;
        margin-right: 12px ;
    }

}

@media all and (max-width: 490px){

    .daily{
        display: flex;
        justify-content: start!important;
        margin-left: 12px;
        margin-right: 12px;
    }

}